services:
  ldap:
    image: osixia/openldap:1.5.0
    container_name: ldap
    environment:
      LDAP_ORGANISATION: "Example Corp"
      LDAP_DOMAIN: "example.org"
      LDAP_ADMIN_PASSWORD: admin
    ports:
      - "389:389"

  ldapadmin:
    image: osixia/phpldapadmin:latest
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: ldap
      PHPLDAPADMIN_HTTPS: false
    ports:
      - "8080:80"

  gemini:
    environment:
      DISABLE_MODEL_MAPPING: "1"
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
    image: zhu327/gemini-openai-proxy:latest
    restart: unless-stopped

  mcpo:
    # image: lol:v1
    command: "uv run --no-sync mcpo --host 0.0.0.0 --port 8080 --config /app/config.json --log-level debug"
    # command: "sleep infinity"
    build:
      context: mcpo
      dockerfile: lol.Dockerfile
    ports:
      - "9100:8080"
    depends_on:
      - example_mcp

  example_mcp:
    build:
      context: example-mcp
      dockerfile: Dockerfile
    environment:
      OIDC_CLIENT_ID: ${OIDC_CLIENT_ID}
      OIDC_CLIENT_SECRET: ${OIDC_CLIENT_SECRET}
      OIDC_ISSUER: ${OIDC_ISSUER}