# TODO: Not ready, don't use this as i have not tested this
services:
  keycloak:
    image: quay.io/keycloak/keycloak:25.0.6
    container_name: keycloak
    environment:
      KC_DB: dev-mem
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_RELATIVE_PATH: /auth
    command:
      - start-dev
      - --import-realm
    ports:
      - "8080:8080"
    depends_on:
      - ldap